*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Write your code below */
header{
  background-color:#26d0c9;
  color:white;
  height:80px;

}
.logo{
  float:left;
  padding:20px 40px 20px 40px;
  font-size:30px;
  
}
.list li{
  float:left;
  padding:30px 20px 33px 20px;
  font-size:16px;
}
.body{
  padding:100px 80px 100px 80px;
}
.top{
  padding-bottom: 20px;
}
.top h1{
  font-size:100px;
}
.top h2{
  font-size:60px;
}
span{
  color:red;
}

.img1, .img2, .img3, .img4 {
  float: left;
  padding: 10px 5px 20px 0px;
  
}
.lessons h3{
 border-bottom: 2px solid #dee7ec;
}
textarea{
  width: 350px;
  height:40px;
  border-color:#dee7ec;
  padding: 15px;
  font-size: 18px;
  
}
input{
  width: 350px;
  height:50px;
  border-color:#dee7ec;
  background-color: #dee7ec;
  color: #889eab;
}
.contact h3{
  padding-bottom: 30px;
}
.contact p{
  padding-bottom: 8px;
  padding-top: 25px;
}
footer{
 height: 120px;
  color: white;
   background-color: #2f5167;
  
}
footer ul {
  float: right;
  padding: 20px 30px 20px 0px;
  
}
footer ul li{
  padding-bottom: 5px;
}
.progate{
  float:left;
  font-size: 30px;
  padding-left: 40px;
  padding-top: 20px;
}
