*{	margin: 0;
	padding: 0;
	font-family: "Lucida Grande";
}
.stick{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	background-color: rgba(74,77,90,0.4);
	color: white;
}
.logo{
	font-size: 25px;
	text-shadow: 2px 2px 3px rgba(74,77,90);
	padding-left: 10px;
}
.logo-line{
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px rgba(74,77,90);
	padding-left: 10px;
}
.login{
	float: right;
	position: relative;
	top: -41px;
	right: 50px;
}
.login button{
	padding: 10px 15px 10px 15px;
	height: 40px;
	border:none;
	background-color: rgba(74,77,90,0.5);
	outline: none;
	color: white;
	cursor: pointer;
}
.login button:active{
	background-color: rgba(74,77,90,1);
}
header{
	background-image: url("https://prog-8.com/images/html/advanced/top_en.png");
	background-size: cover;
	height: 540px;
	color: white;
	text-align: center;
}
.heading h1{
	font-size: 50px;
}
.heading p{
	font-size: 16px;
}
.ptag{
	padding-top: 25px;
}
.heading{
	opacity: 0.8;
	padding-top: 120px;
}
.email{
	background-color: #239b76;
	color: white;
	opacity: 0.8;
	padding: 10px;
	border:none;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
	outline:none;	
}
.email:hover{
	opacity: 1.0;
}
header span{
	padding-right: 20px;
}
.twitter{
	background-color: #55acee;
	color: white;
	opacity: 0.8;
	padding: 10px;
	border:none;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
	outline:none;
}
.twitter:hover{
	opacity: 1.0;
}
main{
	background-color: #f7f7f7;
	height:500px;
}
main {
	text-align: center;
}
.top{
	padding: 80px 0px 50px 0px;
	font-size: 30px;
}
main li{
	width: 25%;
}
main li p{
	position: relative;
	bottom: 110px;
	color: white;
}
main h6{
	font-weight: normal;
	font-size: 14px;
	position: relative;
	bottom: 15px;
	color: #919191;
	padding: 0px 5px 0px 5px;
}
.items{
	padding: 0px 10px 0px 10px;
}
.upper{
	height: 300px;
	text-align: center;
	padding-top: 50px;
}
.ready{
	font-size: 25px;
	padding: 10px 0px 10px 0px;
}
.go{
	font-size: 20px;
	padding: 0px 0px 50px 0px;
}
.upper button{
	padding: 15px 28px 15px 28px;
	background-color: #03b981;
	border-radius: 5px;
	color: white;
	font-size: 17px;
	border:none;
	cursor: pointer;
	outline:none;
}
.upper button:hover{
	background-color: #00a270;
}
.upper button:active{
	font-size: 16.5px;
}
